.header {
    padding: 50px;
    text-align: center;
    background: #4cbb17;
    color: black;
    font-size: 25px;
}

.teams, .about, .sign-up {
    text-align: center;
    font-size: 20px;
    color: black;
}

.form-container {
    display: grid;
    place-items: center;
    min-height: 50vh;
  }
  
  form {
    width: 50%;
  }